/*
 *
 *
 * CSS VARIABLES
 *
 *
 */


/* https://www.materialpalette.com/red/lime */
/* BUILD AS MATERIAL DESIGN , SO COLORS, AND ROBOTO FONTS */ 



:root {
  /*
	--main-bg-color: coral;
  --main-txt-color: blue;
  --main-padding: 15px;
	*/
	
	
	/* BREAK POINTS FOR MEDIA QUERIES */
	/* CSS Variables Level 1’s var() cannot be used in media queries. */
	/* VS rem SYSTEM */
	/*
	--bp-1: 1024px; 
	--bp-m: 768px;
	--bp-s: 568px;
	--bp-xs: 414px; 
	*/
	
	
/* 
	DEFINE VARIABLES FOR COLORS OF MATERIAL DESIGN SCHEME 
	https://www.materialpalette.com/red/lime
*/	
	--dark-primary-color: #D32F2F;
	--light-primary-color: #FFCDD2;
	--primary-color: #F44336;
	--text-icons: #FFFFFF;
	--accent-color: #CDDC39;
	--primary-text: #212121;
	--secondary-text: #757575;
	--divider-text: #BDBDBD;
	

	
	/* 
	 * VARIABLES - FONT-FAMILY
	 */ 
	/* and also font as font main, and font aside, generrla, sepcial, etc font-accent, could be a good name, or font-splash */	
	--primary-font: 'Roboto'; /* ok , works */
	--secondary-font: 'Ubuntu'; /* ok , works */
	
	/* 
	 * VARIABLES - FONT-SIZE - !!! y lo del font size como rem .... FOR ACCESSIBILITY !!!
	 */ 
	--fs-1: 16px; /* VS rem SYSTEM */
	--fs-1-5: 24px; /* VS rem SYSTEM */
	--fs-2: 32px; /* VS rem SYSTEM */
	
	/* 
	 * VARIABLES - SPACING 
	 */ 
	--spacing-0-75: 18px; /* VS rem SYSTEM */
	--spacing-1: 24px; /* VS rem SYSTEM */
	--spacing-2: 48px; /* VS rem SYSTEM */
	/* --spacing-2: var(--spacing-1) * 2; */  /* VS rem SYSTEM */
	--spacing-3: 72px; /* VS rem SYSTEM */
	--spacing-4: 96px; /* VS rem SYSTEM */
	
} /* ROOT */
