/*
 * TYPOGRAPHY
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html, body {
  font-size: 1rem;
  color: var(--primary-text, #1c1b1f);
  font-family: var(--primary-font), sans-serif;
  line-height: 1.6;
  background-color: var(--surface-color);
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover,
a:focus {
  text-decoration: underline;
}
